@use './variables' as *;
@use './scroll' as *;

:root {
    --transition-duration: $transition-duration;
    --transition-duration-fast: $transition-duration-fast;
    --transition-duration-slow: $transition-duration-slow;
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --transition-duration: 0s;
        --transition-duration-fast: 0s;
        --transition-duration-slow: 0s;
    }
}

html {
    font-size: clamp(16px, 1.67vh, 32px);
}
body {
    position: relative;
    margin-inline: auto;
    max-width: 1440px;
}
