@use './variables' as *;

body {
    &.light-theme {
        --primary-color: #{$black};
        --secondary-color: #{$gray};
        --background-color: #{$white};

        --header-background-color: var(--primary-color);
        --header-text-color: var(--background-color);
        --footer-background-color: var(--primary-color);
        --footer-text-color: var(--background-color);

        --accept-color: #{$green};
        --accept-color-hover: #{$dark-green};
        --decline-color: #{$red};
        --decline-color-hover: #{$dark-red};
        --cancel-color: #{$gray};
        --cancel-color-hover: #{$dark-gray};
    }
    &.dark-theme {
        --primary-color: #{$white};
        --secondary-color: #{$gray};
        --background-color: #{$black};

        --header-background-color: var(--primary-color);
        --header-text-color: var(--background-color);
        --footer-background-color: var(--primary-color);
        --footer-text-color: var(--background-color);

        --accept-color: #{$green};
        --accept-color-hover: #{$dark-green};
        --decline-color: #{$red};
        --decline-color-hover: #{$dark-red};
        --cancel-color: #{$gray};
        --cancel-color-hover: #{$dark-gray};
    }
}
