// colors
$white: #f9f9f9;
$black: #1a1a1a;
$gray: #808080;
$light-gray: #d3d3d3;
$dark-gray: #484848;

$light-red: #ff0000;
$red: #b00000;
$dark-red: #800000;
$light-green: #ccffcc;
$green: #008000;
$dark-green: #006400;
$light-blue: #44ffff;
$blue: #0000ff;
$dark-blue: #000080;
$light-yellow: #ffffcc;
$yellow: #ffff00;
$dark-yellow: #808000;
$light-purple: #ff99ff;
$purple: #800080;
$dark-purple: #4b0082;
$light-orange: #ffcc99;
$orange: #ffa500;
$dark-orange: #ff8c00;

$error: $red;
$success: $green;
$info: $blue;
$warning: $orange;

$easy: #38a169;
$medium: #f6e05e;
$hard: #ed8936;
$extreme: #e53e3e;

$incorrect-button: $light-red;
$hinted-button: $green;

// transition
$transition-duration: 0.2s;
$transition-duration-fast: 0.1s;
$transition-duration-slow: 0.3s;

// sizes
$font-size: 16px;

$border-width: 2px;
$border-width-big: 3px;
$border-radius: 6px;

$header-font-size: 0.9rem;
$header-height: 32px;
$header-padding: 12px;
$header-border-radius: 0 0 12px 12px;

$footer-font-size: 0.6rem;
$footer-padding: 12px;
$footer-height: 24px;
$footer-border-radius: 4px 4px 0 0;

$settings-buttons-width: 90px;

// modals
$z-index-modal: 1000;
$container-background-color-modal: rgba(0, 0, 0, 0.5);
$box-shadow-modal: 0 10px 30px rgba(0, 0, 0, 0.3);

// messages
$z-index-message: 10000;

// keyboard
$keyboard-button-size: 32px;
$keyboard-space-size: $keyboard-button-size * 6;
$keyboard-backspace-size: $keyboard-button-size * 2;
$keyboard-blur-size: 3px;

$pressed-button-scale: 0.85;

$keyboard-row-offset-0: 0;
$keyboard-row-offset-1: 32px;
$keyboard-row-offset-2: 0;
$keyboard-row-offset-3: -64px;
$keyboard-row-offset-4: 0;

$finger-left-pinky: #d0e6ff;
$finger-left-ring: #c1ffd7;
$finger-left-middle: #fff4c1;
$finger-left-index: #ffe0e0;
$finger-right-index: #ffe0ff;
$finger-right-middle: #e0d5ff;
$finger-right-ring: #d1f0ff;
$finger-right-pinky: #fce0c1;
$finger-thumb: #f0f0f0;

$finger-left-pinky-dark: #5c82a3;
$finger-left-ring-dark: #4b8d70;
$finger-left-middle-dark: #8f843f;
$finger-left-index-dark: #a15c5c;
$finger-right-index-dark: #a35c92;
$finger-right-middle-dark: #7a5fae;
$finger-right-ring-dark: #548aa5;
$finger-right-pinky-dark: #a37744;
$finger-thumb-dark: #888888;

// training display
$training-display-width: 520px;
$training-display-height: 120px;

$training-display-font-size: 1.25rem;
$training-display-whitespace-size: 12px;
$training-display-font-gap: 0rem;

$correct-symbol-color: $green;
$incorrect-symbol-color: $red;
$untyped-symbol-color: $gray;
$caret-color: $black;

$training-display-border-color: $light-gray;
$training-display-border-radius: 12px;
